.project
.classpath
/data
/data.bak
/target
/scratch
/load
/classpath.txt
*.log
/docker-compose.override.yml
/bin/
/*.tar.gz
.settings/
*.bak

# IntelliJ
/.idea
*.iml

# Maven shade plugin
dependency-reduced-pom.xml
node_modules/
