version: '2'
services:
  registry:
    volumes:
      - ./target/nanopub-registry/:/usr/local/tomcat/webapps/ROOT
    environment:
      - REGISTRY_COVERAGE_TYPES=*
      - REGISTRY_COVERAGE_AGENTS=via-setting
  mongodb:
    ports:
      - 27017:27017
  mongo-express:
    image: mongo-express
    environment:
      - ME_CONFIG_MONGODB_URL=mongodb://mongodb:27017
    ports:
      - 8081:8081
