services:
  registry:
    build: .
    image: nanopub/registry
    restart: unless-stopped
    ports:
      - 9292:9292
      - "127.0.0.1:9293:9293" # this port should only be accessible from restricted environment as it is used for the metrics endpoint.
    volumes:
      - ./setting.trig:/data/setting.trig
    logging:
      options:
        max-size: "10m"
        max-file: "3"

  mongodb:
    image: mongo:7
    restart: unless-stopped
    # entrypoint solution adjusted from here: https://stackoverflow.com/a/75572007
    entrypoint: >
      /bin/bash -c '
      echo "rs.initiate()" > /docker-entrypoint-initdb.d/1-init-replicaset.js &&
      /usr/local/bin/docker-entrypoint.sh mongod --replSet rs0 --bind_ip_all --noauth'
    volumes:
      - ./data/mongodb:/data/db
    logging:
      options:
        max-size: "10m"
        max-file: "3"
